/* start body style */
body {
    margin: 0;
}
.container{width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
/* start header style */
header {
    background-color: rgb(255, 255, 255);
}
p,
h1,
h6,
a {
  font-family: "Poppins", sans-serif;
}

ul li {
    list-style: none;
    padding-left: 32px;
  }
  
  ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
